
EXPO_PUBLIC_SUPABASE_URL=https://mcqcmrcipdqkxrrrqltw.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jcWNtcmNpcGRxa3hycnJxbHR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3NDM5OTQsImV4cCI6MjEwNTMxOTk5NH0.WEx3IZaRTwOuPboGqV-InKJ3UtDALWsVX87HAzNyp8U